USE [master]
GO
/****** Object:  Database [ProjectTest1]    Script Date: 6/4/2019 11:12:45 ******/
CREATE DATABASE [ProjectTest1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectTest1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjectTest1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectTest1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjectTest1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectTest1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectTest1]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 6/4/2019 11:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[FilePart] [varchar](255) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_1] ON 

INSERT [dbo].[Table_1] ([ID], [Name], [FilePart], [Date]) VALUES (1, N'leknahee', N'c.eiei123', CAST(N'2019-04-06' AS Date))
INSERT [dbo].[Table_1] ([ID], [Name], [FilePart], [Date]) VALUES (2, N'Screenshot (1).png', N'Upload/345e866e-eaad-4e1b-8e66-2f467deb2116.png', CAST(N'2019-04-10' AS Date))
INSERT [dbo].[Table_1] ([ID], [Name], [FilePart], [Date]) VALUES (3, N'Screenshot (1).png', N'Upload/a5f9a649-4df6-4a6d-8c5b-a6b93c62811f.png', CAST(N'2019-04-10' AS Date))
SET IDENTITY_INSERT [dbo].[Table_1] OFF
/****** Object:  StoredProcedure [dbo].[spDetail]    Script Date: 6/4/2019 11:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDetail]
     @Date date
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT        ID, Name, Date
FROM            Table_1
WHERE        (Date = @Date)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert]    Script Date: 6/4/2019 11:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert]
@Name varchar(255),
@Date date,
@FilePart varchar(255)
AS
BEGIN
	
	SET NOCOUNT ON;

    INSERT INTO Table_1
                         (Name, Date, FilePart)
VALUES        (@Name,@Date,@FilePart)
END
GO
USE [master]
GO
